body{
    font-family: 'Raleway';
    max-width: 1400px;
    margin: auto;
    width: 95%;
    
}

/*En tête*/

header div img
{
    width: 61.09px;
    height: 19px;
    margin-top: 10px;
}

#Bordure
{   
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 92%;
    justify-content: space-between;
}

#BordureChoix
{
    font-size: 16px;
    padding-top: 10px;
    padding-right: 10px;
}

header div a {
    margin-left: 68px;
    padding-top: 28px;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: black;
}
header div a:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

/*Trouvez votre hébergement pour des vacances de rêve*/

h2{
    font-size: 22px;
    margin-top: 75px;
}

header p
{
    margin-top: -10px;
}

/*Bouton recherche*/

#boutonderecherche
{
    display: flex;
    flex-direction: row;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    width: 332px;
    height: 49px;
}

#boutonrechercheloupe{
    display: none;
}
#logolocalisation
{
    height: 19px;
    width: 14px;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
    padding: 15px;
}

input
{
    border: none;
    text-align: center;
    margin-top: 15px;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 15px;
    width: 180px;
}

.couleurmarseille::placeholder{
    color: black;
}

/* les filtres */
#filtres
{
    display: flex;
    flex-direction: row;

}
.filtre_icone{
    margin-top: 35px;
    border: 2px solid #b6b6b6;
    border-radius: 30px;
    padding: 5px 15px 5px 15px;
    display: flex;
    flex-direction: row;
    margin-bottom: 7px;
    margin-left: 30px;
}
#lesfiltres{
    display: flex;
    flex-direction: row;
}
h4{
    margin-top: 50px;
    margin-right: 0px;
    
}
.textefiltre{
    margin-left: 10px;
    margin-bottom: 0px;
    padding-top: 4px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    margin-bottom: 2px;

}
#logo{
    padding: 5px;
    height: 18px;
    width: 22px;
}
#logo2{
    padding: 5px;
    height: 22px;
    width: 14px;
}
#logo3{
    padding: 5px;
    height: 19px;
    width: 22px;
}
#logo4{
    padding: 5px;
    height: 22px;
    width: 22px;
}
.filtre_icone:hover{
    background-color: #DEEBFF;
}

/* Inforamtion : Plus de 500 logements sont disponibles dans cette ville */

#Information
{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}
#pointdexclamation
{
    width: 4px;
    height: 10px;
    padding: 4px 7px 4px 7px;
    border: 1px solid #b6b6b6;
    border-radius: 150px;
    margin-top: 35px;
    margin-right: 21px;
}
#texteinformation{
    font-weight: 400;
    font-size: 16px;
}
/* Main entre hebergement et les plus populaires */
#hebergementetpopulaire{
    display: flex;
    flex-direction: row;
    width: 95%;
}

/* Hébergement à marsailles */

#hebergement
{
    width: 65%;
    height: 626px;
    background-color: #F2F2F2;
    border-radius: 20px;
    
}
#titrehebergement{

    margin-left: 1%;
    margin-top: 40px;
    padding-bottom: 23px;
   
}
#vignettehebergement, #titrehebergement{
   
    margin-bottom: 10px;
}
#titrehebergement{
    margin-left: 5%;
}
#vignettehebergement{
    margin-left: 5%;
    display: grid;
	grid-template-columns: 29% 29% 29%;
	grid-template-rows: 210px 210px;
    gap: 4%;    
}
.logement{
    margin-right: 31px;
    background: white;
    border-radius: 20px;
    height: 210px;
    width: 100%;    
}
.textevignette{
    background: white;
    border-radius: 20px;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    
}
.infophotos
{
    font-weight: 700;
    font-size: 16px;
    margin-top: -5px;

}
.infoprix
{
    margin-top: 5px;
    font-weight: 400;
    font-size: 14px;
}
.photohebergement{ 
    height: 124px;
    width: 95%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    margin: 5px;
}
.liens, .lienspop{
    text-decoration: none;
    color: black;
}
/* Les etoiles */
.lesetoiles
{
    margin-left: 16px;
    margin-top: 5px;
    
}
/* affichez plus */
#affichezplus{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    margin-top: 20px;
}

/* Les plus populaires */

#lespluspopulaire{
    width: 30%;
    height: 625px;
    background-color: #F2F2F2;
    margin-left: 40px;
    border-radius: 20px;
}
.lienspop{
    width: 100%;
}
#titreetlogo
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 25px;
    margin-top: 41px;
}

#graph{
    width: 18px;
    height: 16px;  
    margin-top: 3px;
    margin-right: 42px;  
}

#textepopulaire{
    margin-left: 37px;
    font-weight: 700;
    font-size: 22px;    
}

#logemenpopulaire
{
    margin-left: 5px;
    display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 144px 144px 144px;
    gap: 33px;
}
.photopopulaire
{
    height: 136px;
    width: 40%;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    margin: 4px;
}

.textevignettepopulaire{
    display: flex;
    flex-direction: column;
    margin-left: 16px;

}
.populaire
{
    background: white;
    border-radius: 20px;
    margin-left: 3%;
    width: 85%;
    height: 144px;
    display: flex;
    flex-direction: row;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
}
.infophotospop
{
    margin-top: 16px;
    font-weight: 700;
    font-size: 16px;
    margin-right: 22px;
}
.infoprixpop
{
    margin-top: 7px;
    font-weight: 400;
    font-size: 14px;
}
.texte_etoilepop
{
    display: flex;
    flex-direction: column;

}
#lesetoilespops1{
    margin-left: 16px;
    margin-top: 40px;  
}
#lesetoilespops2{
    margin-left: 16px;
    margin-top: 40px;  
}
#lesetoilespops{
    margin-left: 16px;
    margin-top: 58px;  
}

/* Activités à marseille */

#activite{
    display: flex;
    flex-direction: row;
    width: 100%;
    
}
#activitemarseille
{
    width: 95%;
}
.liens
{
    width: 25%;
}
.phototexteactivite
{
    display: flex;
    flex-direction: column;
    margin-right: 43px;


}
.photoactivite{
    height: 389px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 2px 2px 2px #F2F2F2;
}
.contourtexte{
    background: #FFFFFF;  
    width: 100%;
    height: 56px;
    box-shadow: 2px 2px 2px #F2F2F2;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    flex-direction: row;

}
.texteactivite{
    margin-left: 19px;
    padding-bottom: 40px;
    margin-top: 10px;
    font-weight: 700;
    font-size: 16px;
    
}

/* bas de page  */
#cadrebasdepage{
    width: 93%;
    height: 225px;
    background: #F2F2F2;
    margin-top: 58px;
}
#basdepage
{
    display: grid;
    grid-template-columns: 30% 30% 30%;
	grid-template-rows: 225px;

}
.apropos{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    margin-top: 0px;
}
.souspartie
{
    
    margin-top: -10px;
}
footer div article div span{
    margin-top: 12px;
    display: flex;
    flex-direction: column;
}

/* responsive pour tablette */

@media screen and (max-width:992px) {
    body{
        width: 95%;
        margin-left: auto;
    }
    /* header */

    #Bordure
    {   
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        width: 100%;
        justify-content: space-between;
    }

    header div a {
        margin-left: 68px;
        padding-top: 28px;
        font-weight: 400;
        font-size: 16px;
        text-decoration: none;
        color: black;
    }
    #BordureChoix
    {
        font-size: 16px;
        padding-top: 10px;
        margin-right: 0px;
        margin-left: 10px;
    }
    
    /* bouton de recherche */
    #boutonrechercheloupe{
        display: none;
    }
    #hebergementetpopulaire{

        width: 98%;
    }
    /* filtre icone */
    .filtre_icone{
        margin-top: 30px;
        border: 2px solid #b6b6b6;
        border-radius: 30px;
        padding: 5px 13px 5px 13px;
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        margin-left: 18px;
    }
    .textefiltre{
        margin-left: 10px;
        margin-bottom: 0px;
        padding-top: 4px;
        font-size: 13px;
        line-height: 20px;
        font-weight: 600;
        margin-bottom: 2px;
    
    }

    /* hébergement */
    #hebergement
    {
        width: 100%;
        height: 626px;
        background-color: #F2F2F2;
        border-radius: 20px;
        
    }
    .logement{
        margin-right: 0px;
        background: white;
        border-radius: 20px;
        height: 199px;
        width: 100%;    
    }
    /* les plus populaires */
    #hebergementetpopulaire
    {
        display: flex;
        flex-direction: column;
    }
    #logementpopulaire
    {
        display: flex;
        flex-direction: row;
        width: 98%;
        height: 278px;
        margin-left: 22px;
        
    }
    #lespluspopulaire
    {
        width: 100%;
        height: 278px;
        margin-top: 53px;   
        margin-left: 0px;  
        gap: 23px;
    }
    .lienspop{
        width: 31%;
        margin-left: 10px;
    }
    .photopopulaire
    {
        width: 40%;
        height: 138px;
    }
    .populaire{
        width: 90%;
        margin-left: 0px;
        
    }
    .texte_etoilepop
    {
        display: flex;
        flex-direction: column;
        width: 60%;
    }
    .infophotospop
    {
        font-size: 14px;
    }
    .infoprixpop
    {
        font-size: 13px;
    }
    #lesetoilespops1{
        margin-top: 5px;
    }
    #lesetoilespops2{
        margin-top: 20px;
    }
    #lesetoilespops{
        margin-top: 35px;
    }
    /* activités à marseille */
    #activite
    {
        width: 100%;
        margin-top: 20px;
    }

    .photoactivite{
        height: 209px;
        width: 100%;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
        box-shadow: 0px 0px 2px gray;
    }

    /* footer */
    #cadrebasdepage{
        width: 100%;
        height: 225px;
        margin-top: 58px;
    }
    #basdepage
    {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 225px;
    
    }
    .phototexteactivite {
        display: flex;
        flex-direction: column;
        margin-right: 23px;
    }
    /*  */
    #activitemarseille
    {
        width: 100%;
    }
    .souspartie
    {
        
        font-size: 15px;
    }
}
/* Responsive pour telephone */

@media screen and (max-width:767px) {
    body{
        font-family: 'Raleway';
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    /* header */
    
    #Bordure
    { 
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    #logobooki
    {
        margin: 0px 45% 21px 45%;
    }
    #BordureChoix
    {
        display: flex;
        margin: 0px;
        flex-direction: row;
    }
    header div a 
    {
        width:  50%;
        padding-top: 28px;
        text-align: center;
        border-bottom: 1px solid #F2F2F2;
        padding-bottom: 23px;
        margin-left: 0px;
        margin-right: 0px;
    }
    header div a:hover {
        border-bottom: 2px solid #0065FC;
        border-top: 0px;
        color: #0065FC;
    }
    /* Trouvez votre ... */
    header h2{
        margin-left: 20px;
        margin-right: 20px;
    }
    header p{
        margin-left: 20px;
        margin-right: 20px;
    }
    /* Bouton de recherche */
    #boutonderecherche
    {
        width: 60%;
        height: 49px;
        margin-left: 20px;
    }

    #boutonrecherche{
        display: none;
    }

    #boutonrechercheloupe{
        display: block;
    }

    /* Filtres */
    #filtres{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }
    #lesfiltres{
        display: grid;
        grid-template-columns: 45% 45%;
        grid-template-rows: 50px 50px;
        gap: 20px;
    }
    .filtre_icone{
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px; 
        border: 2px solid #b6b6b6;
        border-radius: 25px;
        padding-left: 15px;
        padding-top: 7px;
        padding-left: 4px;
        width: 90%;
        height: 30px;
        display: flex;
        flex-direction: row;

    }
    .textefiltre{
        margin-left: 5px;
        margin-bottom: 5px;
        padding-top: 4px;
        font-size: 11px;
        line-height: 20px;
        font-weight: 700;
        margin-bottom: 2px;
    
    }

    /* infos plus de ... */
    #Information{
        margin-left: 20px;
        margin-left: 20px;
    }

    /* Hebergement */

    #hebergement
    {
        width: 95%;
        height: 1400px;
        border-radius: 20px;
        background-color: white;
        order: 1;
        margin: auto;
        
    }
    #titrehebergement{

        margin-left: 20px;
        margin-top: 20px;
        padding-bottom: 23px;
    }
    #vignettehebergement{
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        
    }
    .logement{
        background: white;
        border-radius: 25px;
        height: 200px;
        width: 85%;    
        box-shadow: 2px 2px 2px rgb(177, 177, 177);
        
        margin-bottom: 10px;
    }
    .photohebergement{
        height: 124px;
        width: 97%;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
        margin: 5px;
    }
    /* Les plus populaires */

    #lespluspopulaire{
        width: 100%;
        height: 600px;
        background-color: #F2F2F2;
        margin-left: 0px;
        border-radius: 0px;
        margin-right: 0px;
        order: 0;
    }
    #logementpopulaire
    {
        margin-left: 5px;
        display: flex;
        flex-direction: column;
        margin-top: 26px;
        width: 98%;
        height: 500px;
    }
    .populaire
    {
        background: white;
        border-radius: 20px;
        width: 95%;
        height: 144px;
        display: flex;
        flex-direction: row;
        margin:auto;
        margin-top: 10px;
    }
    .lienspop{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .photopopulaire
    {
        height: 136px;
        width: 40%;
        object-fit: cover;
        border-radius: 20px 0px 0px 20px;
        margin: 4px;
    }
    .texte_etoilepop
    {
        display: flex;
        flex-direction: column;
        width: 60%;

    }
    #lesetoilespops2{
        margin-left: 16px;
        margin-top: 40px;  
    }
    #lesetoilespops{
        margin-left: 16px;
        margin-top: 60px;  
    }
    /* Activités Marseille */
    #activite{
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;

    }
    #activitemarseille{
        margin-top: 160px;
        width: 95%;
        margin: auto;
    }
    .liens{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .photoactivite{
        height: 134px;
        width: 100%;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
        box-shadow: 0px 0px 2px gray;
        margin: auto;
        
    }
    .contourtexte{
        background: #FFFFFF;  
        width: 100%;
        height: 56px;
        box-shadow: 0px 0px 2px gray;
        border-radius: 0px 0px 20px 20px;
        display: flex;
        flex-direction: row;
        margin-bottom: 24px;
    
    }
    /* A propos ... */
    #cadrebasdepage{
        width: 100%;
        height: 551px;
        background: #F2F2F2;
        margin-top: 58px;
        
    }
    #basdepage
    {
        display: flex;
        flex-direction: column;
    }
    footer div article div span{
        font-weight: 400;
        font-size: 16px;
    }
    footer div article h4{
        font-weight: 700;
        font-size: 18px;
    }    
}

@media screen and (max-width:300px) {
    input{
        width: 100%;
    }
}

@media screen and (max-width:374px) {
    #lesetoilespops2{
        margin-left: 16px;
        margin-top: 25px;  
    }
    #lesetoilespops{
        margin-left: 16px;
        margin-top: 35px;  
    }
}

@media screen and (min-width: 830px) and (max-width:920px) {
    .populaire{
        width: 230px;
    }
    #lesetoilespops1{
        margin-top: 20px;
    }
    #lesetoilespops2{
        margin-top: 20px;
    }
    #lesetoilespops{
        margin-top: 35px;
    }
    .photoactivite{
        height: 150px;
    }
}

@media screen and (min-width: 767px) and (max-width:830px) {
    .populaire{
        width: 210px;
    }
    #lesetoilespops2{
        margin-top: 5px;
    }
    #lesetoilespops1{
        margin-top: 20px;
    }
}
@media screen and (min-width: 929px) and (max-width:960px) {
    #lesetoilespops1{
        margin-top: 25px;
    }
}

@media screen and (min-width: 960px) and (max-width:992px) {
    #lesetoilespops1{
        margin-top: 35px;
    }
}



@media screen and (max-width:1150px) {

    .photoactivite{
        height: 250px;
    }
    #textepopulaire
    {
        font-size: 20px;
    }
    .textevignettepopulaire{
        font-size: 12px;
    }
}